In [1]:
#importamos aquello que vamos a necesitar

import pandas as pd
import numpy as np
import re
import mysql.connector as conn
import functions as f
from sqlalchemy import create_engine

#import multiprocessing as mp
#from joblib import Parallel, delayed

[WDM] - Downloading: 100%|██████████| 6.30M/6.30M [00:00<00:00, 41.9MB/s]

In [163]:
#paralelo = Parallel(n_jobs=10, verbose=True)

In [164]:
#Declaramos una lista de urls a recorrer y scrapear así como unas variables que nos aportaran datos en la misma

urls = ['https://gol.gg/teams/list/season-ALL/split-ALL/tournament-SuperLiga%20Spring%202023/',
        'https://gol.gg/teams/list/season-ALL/split-ALL/tournament-LVP%20SL%20Summer%202022/',       
        'https://gol.gg/teams/list/season-ALL/split-ALL/tournament-LVP%20SL%20Spring%202022/',
        'https://gol.gg/teams/list/season-ALL/split-ALL/tournament-LVP%20SL%20Summer%202021/',
        'https://gol.gg/teams/list/season-ALL/split-ALL/tournament-LVP%20Superliga%20Spring%202021/',
        'https://gol.gg/teams/list/season-ALL/split-ALL/tournament-LVP%20SLO%20Summer%202020/',
        'https://gol.gg/teams/list/season-ALL/split-ALL/tournament-LVP%20SLO%20Spring%202020/',
        'https://gol.gg/teams/list/season-ALL/split-ALL/tournament-LVP%20SLO%20Summer%202019/',
        'https://gol.gg/teams/list/season-ALL/split-ALL/tournament-LVP%20SLO%20Spring%202019/',
        'https://gol.gg/teams/list/season-ALL/split-ALL/tournament-LVP%20Summer%202018/',
        'https://gol.gg/teams/list/season-ALL/split-ALL/tournament-LVP%20Spring%202018/']

time = 'Spring'
future_time= 'Summer'
last_time = 'Summer'
year = 2023
contador = 1

superliga = pd.DataFrame()

In [165]:
#Bucle que llama a la función de scrapeo previamente creada en nuestro archivo de funciones que devuelve un dataframe con los equipos y sus jugadores
#por temporada

for i in range(len(urls)):
    
    
    if contador%2==0:
        year-=1
    contador +=1
    
    superliga = pd.concat([superliga,f.scrapeo_equipos_jugadores(urls[i],year,time)], ignore_index=True)


    last_time = time
    time = future_time
    future_time = last_time

['Barça eSports', '2023 Spring', 'Players', 'Whiteknight', 'Hadess', 'Sajator', 'Deadly', 'Efias']
['BISONS ECLUB', '2023 Spring', 'Players', 'Myrwn', 'D4nKa', 'Random', 'Legolas', 'Oscure']
['Fnatic TQ', '2023 Spring', 'Players', 'Sven', 'Rabble', 'Nafkelah', 'Bean', 'Rhuckz', 'Oscarinin', 'Advienne']
['Giants', '2023 Spring', 'Players', 'Scarface', 'Alby', 'Decay', 'Attila', 'Stend']
['Guasones', '2023 Spring', 'Players', 'Dreedy', 'Akre', 'Hydra', 'Nash1c', 'Mystiques', 'odi11', 'Nio']
['Heretics Academy', '2023 Spring', 'Players', 'iBo', 'bluerzor', 'Zwyroo', 'Flakked', 'marlon']
['KOI Academy', '2023 Spring', 'Players', 'Sinmivak', 'Koldo', 'Baca', 'Lucker', 'Seaz']
['Movistar Riders', '2023 Spring', 'Players', 'Marky', 'Isma', 'Fresskowy', 'Supa', 'Alvaro']
['Rebels Gaming', '2023 Spring', 'Players', 'R4VEN', 'AHaHaCiK', 'Xico', 'Rayito', 'Obstinatus', 'Gadget']
['UCAM Tokiers', '2023 Spring', 'Players', 'Doxy', 'Mart', 'Hatrixx', 'Rafitta', 'Kadir']
['Barça eSports', '2022 Summer', 'Players', 'Dreedy', 'Hadess', 'twohoyrz', 'Deadly', 'Efias']
['BISONS ECLUB', '2022 Summer', 'Players', 'Myrwn', 'Alby', 'Random', 'Guubi', 'Oscure', 'Oscure', 'Guubi']
['Fnatic TQ', '2022 Summer', 'Players', 'Oscarinin', 'Maxi', 'Baca', 'Bean', 'Rhuckz']
['G2 Arctic', '2022 Summer', 'Players', 'Color', 'Alexx', 'Fresskowy', 'Supa', 'Alvaro', 'Alvaro', 'Supa']
['Giants', '2022 Summer', 'Players', 'Th3Antonio', 'Maxlore', 'Jiizuke', 'Keduii', 'Advienne']
['KOI', '2022 Summer', 'Players', 'Whiteknight', 'Koldo', 'Xico', 'Rafitta', 'Seaz']
['MAD Lions Madrid', '2022 Summer', 'Players', 'Gaethan', 'TynX', 'Knighter', 'jinjo', 'Tore', 'Tore', 'jinjo']
['Movistar Riders', '2022 Summer', 'Players', 'Marky', 'Kadir', 'xKenzuke', 'Tazaku', 'Pyrka', 'Pyrka', 'Tazaku']
['Team Heretics', '2022 Summer', 'Players', 'iBo', 'bluerzor', 'Zwyroo', 'Jackspektra', 'whiteinn', 'whiteinn', 'Jackspektra']
['UCAM Tokiers', '2022 Summer', 'Players', 'Doxy', 'Thayger', 'Hatrixx', 'Zamulek', 'DuaLL', 'Nji', 'Rewound']
['Barça eSports', '2022 Spring', 'Players', 'Dreedy', 'LeBron', 'twohoyrz', 'Deadly', 'Lucky']
['BISONS ECLUB', '2022 Spring', 'Players', 'Myrwn', 'Alby', 'Random', 'Guubi', 'Oscure', 'Random', 'Myrwn', 'Oscure', 'Guubi']
['Fnatic TQ', '2022 Spring', 'Players', 'Oscarinin', 'Maxi', 'Baca', 'Bean', 'Rhuckz']
['G2 Arctic', '2022 Spring', 'Players', 'Color', 'Alexx', 'Fresskowy', 'Supa', 'Efias']
['Giants', '2022 Spring', 'Players', 'Th3Antonio', 'Maxlore', 'Milica', 'Attila', 'Stend']
['KOI', '2022 Spring', 'Players', 'SLT', 'Koldo', 'Hatrixx', 'Rafitta', 'Seaz']
['MAD Lions Madrid', '2022 Spring', 'Players', 'Gaethan', 'Hadess', 'Knighter', 'DenVoksne', 'Tore', 'Lilipp']
['Movistar Riders', '2022 Spring', 'Players', 'Marky', 'Kadir', 'xKenzuke', 'Tazaku', 'Pyrka']
['Team Heretics', '2022 Spring', 'Players', 'Satorius', 'bluerzor', 'Zwyroo', 'Jackspektra', 'whiteinn']
['UCAM Tokiers', '2022 Spring', 'Players', 'Rubi0o', 'Nji', 'Xaky', 'Afm', 'Homi', 'Boukada']
['BCN Squad', '2021 Summer', 'Players', 'klowny', 'Spooky', 'Silk', 'Ace0', 'Viketox', 'Vzz']
['Cream Real Betis', '2021 Summer', 'Players', 'Rubi0o', 'LeBron', 'Phlaty', 'Jackspektra', 'whiteinn', 'whiteinn', 'Jackspektra']
['eMonkeyz', '2021 Summer', 'Players', 'Nille', 'Nyx', 'Javier', 'Nata', 'Fendras']
['G2 Arctic', '2021 Summer', 'Players', 'Oscarinin', 'Koldo', 'Fresskowy', 'Supa', 'Efias', 'Efias', 'Supa']
['MAD Lions Madrid', '2021 Summer', 'Players', 'Kackos', 'Alexx', 'Knighter', 'Flakked', 'Tore']
['Movistar Riders', '2021 Summer', 'Players', 'Marky', 'Maxlore', 'xKenzuke', 'Venzer', 'DuaLL']
['S2V Esports', '2021 Summer', 'Players', 'robocop', 'behave', 'Random', 'Nixerino', 'Rufus']
['Team Queso', '2021 Summer', 'Players', 'Send0o', 'DahVys', 'Siler', 'Javaaa', 'Oscure']
['UCAM Esports Club', '2021 Summer', 'Players', 'Dreedy', 'Hadess', 'Baca', 'Rafitta', 'Hantera', 'Plasma', 'Wannabe']
['Vodafone Giants.Spain', '2021 Summer', 'Players', 'Th3Antonio', '113', 'Miniduke', 'Attila', 'KaSing']
['BCN Squad', '2021 Spring', 'Players', 'IceBreaker', 'WidowMaker', 'Tonerre', 'Jackspektra', 'Viketox', 'Simpy', 'Simpy', 'Jackspektra']
['Cream Real Betis', '2021 Spring', 'Players', 'Rubi0o', 'LeBron', 'Miniduke', 'Namex', 'whiteinn']
['eMonkeyz', '2021 Spring', 'Players', 'robocop', 'Nyx', 'Javier', 'Nata', 'Fendras']
['G2 Arctic', '2021 Spring', 'Players', 'Oscarinin', 'Koldo', 'Fresskowy', 'Efias', 'Supa', 'Supa', 'Efias']
['MAD Lions Madrid', '2021 Spring', 'Players', 'Sacre', 'Alexx', 'Knighter', 'Flakked', 'DuaLL', 'Aesenar']
['Movistar Riders', '2021 Spring', 'Players', 'Marky', 'Maxlore', 'xKenzuke', 'KaSing', 'Rayito', 'Rayito', 'KaSing']
['S2V Esports', '2021 Spring', 'Players', 'Jervo', 'Sawyor', 'Special', 'Nixerino', 'Jaeger', 'Jaeger', 'Gavan', 'Homi', 'Homi', 'Nixerino']
['Team Queso', '2021 Spring', 'Players', 'Send0o', 'DahVys', 'Siler', 'Javaaa', 'Oscure', 'Oscure', 'Karakal Jr', 'Javaaa']
['UCAM Esports Club', '2021 Spring', 'Players', 'Dreedy', 'Hadess', 'Baca', 'Rafitta', 'Plasma']
['Vodafone Giants.Spain', '2021 Spring', 'Players', 'Th3Antonio', 'Nji', 'Ronaldo', 'Attila', 'kamilius', 'Eckas', 'kamilius', 'Attila']
['BCN Squad', '2020 Summer', 'Players', 'Rubi0o', 'Speedy', 'Miniduke', 'Keduii', 'whiteinn', 'R4VEN', 'Kadir', 'Roison', 'Rayito', 'Aizhon']
['Cream Real Betis', '2020 Summer', 'Players', 'Kackos', 'DahVys', 'Siler', 'Adryh', 'DuaLL']
['eMonkeyz', '2020 Summer', 'Players', 'robocop', 'Sharp', 'Jester', 'Nash1c', 'Fendras', 'Chapapi']
['G2 Arctic', '2020 Summer', 'Players', 'Oscarinin', 'Nasser', 'FeeNiixZ', 'Supa', 'Aesenar']
['MAD Lions Madrid', '2020 Summer', 'Players', 'kaylem', 'Koldo', 'Peng', 'Flakked', 'Prime', 'Orome', 'Prime', 'Flakked']
['Movistar Riders', '2020 Summer', 'Players', 'Javaaa', 'Xico', 'Elyoya', 'Beansu', 'Rhuckz', 'Beansu', 'Elyoya', 'Xico', 'Javaaa']
['S2V Esports', '2020 Summer', 'Players', 'Jaeger', 'Nyx', 'Lvsyan', 'Nixerino', 'Homi', 'Duduuu']
['Team Queso', '2020 Summer', 'Players', 'R4VEN', 'Kadir', 'Roison', 'Rayito', 'Aizhon', 'Rubi0o', 'Speedy', 'Miniduke', 'Aizhon', 'Keduii', 'Rayito', 'whiteinn']
['UCAM Esports Club', '2020 Summer', 'Players', 'Aziado', 'Markoon', 'Baca', 'Rafitta', 'Plasma', 'Plasma', 'Rafitta']
['Vodafone Giants', '2020 Summer', 'Players', 'Th3Antonio', 'Lamabear', 'Pretty', 'Attila', 'Erdote']
['BCN Squad', '2020 Spring', 'Players', 'Wardain', 'Viking', 'Backlund', 'Nixerino', 'Homi', 'Rubi0o', 'Rulfchen', 'Zwyroo']
['eMonkeyz', '2020 Spring', 'Players', 'Kubu', 'Carbono', 'Universe', 'RNATION', 'Xixauxas', 'DoubleAiM', 'Freshx', 'Tirex', 'PainN']
['G2 Arctic', '2020 Spring', 'Players', 'Oscarinin', 'Nasser', 'FeeNiixZ', 'Supa', 'Aesenar', 'Carbono']
['MAD Lions Madrid', '2020 Spring', 'Players', 'WerIyb', 'Koldo', 'Hatrixx', 'Flakked', 'Prime', 'Prime', 'Flakked']
['Movistar Riders', '2020 Spring', 'Players', 'Beansu', 'Elyoya', 'Xico', 'Javaaa', 'Rhuckz']
['S2V Esports', '2020 Spring', 'Players', 'ACD', 'Nyx', 'Lvsyan', 'Barcode', 'Viketox']
['Team Queso', '2020 Spring', 'Players', 'R4VEN', 'Demon', 'Miniduke', 'Rayito', 'Aizhon']
['UCAM Esports Club', '2020 Spring', 'Players', 'Aziado', 'Markoon', 'Baca', 'Rafitta', 'Plasma', 'Plasma', 'Rafitta']
['Vodafone Giants', '2020 Spring', 'Players', 'Th3Antonio', 'Lamabear', 'Pretty', 'Attila', 'Erdote', 'Erdote', 'Attila']
['x6tence', '2020 Spring', 'Players', 'Kackos', 'Jorx', 'Siler', 'Kami', 'DuaLL', 'Universe']
['E-Monkeyz Club', '2019 Summer', 'Players', 'Scarface', 'Freshx', 'Lukezy', 'Rayito', 'DuaLL', 'JosemiBiceps', 'Vixzy']
['G2 Heretics', '2019 Summer', 'Players', 'Wardain', 'Lamabear', 'Xico', 'Nixerino', 'Trymbi']
['Mad Lions E.C', '2019 Summer', 'Players', 'Orome', 'Sharp', 'Pretty', 'Freeze', 'Prime', 'Yoppa', 'Shlatan', 'Czekolad', 'Samux', 'Falco']
['Movistar Riders', '2019 Summer', 'Players', 'Beansu', 'styIIEE', 'Miniduke', 'Javaaa', 'Rhuckz']
['Origen BCN', '2019 Summer', 'Players', 'Szygenda', 'Zanzarah', 'Roison', 'Venzer', 'Homi']
['Penguins', '2019 Summer', 'Players', 'Truklax', 'Cboi', 'Adept', 'Emtest', 'Hadow']
['S2V Esports', '2019 Summer', 'Players', 'Oscarinin', 'Jorx', 'Fenixz', 'Rafitta', 'Darko', 'Aziado', 'Carbono', 'Baca', 'Flakked', 'Xixauxas']
['Team Queso', '2019 Summer', 'Players', 'Nandisko', 'Speedy', 'V0N', 'Khantos', 'Aizhon', 'HungryPanda']
['Vodafone Giants', '2019 Summer', 'Players', 'Th3Antonio', 'Razork', 'Milica', 'Deadly', 'Denyk']
['x6tence', '2019 Summer', 'Players', 'fjoompbun', 'Koldo', 'Lvsyan', 'Sanchez', 'kamilius', 'Rafa']
['E-Monkeyz Club', '2019 Spring', 'Players', 'Kackos', 'WRDN', 'Czekolad', 'Rayito', 'DuaLL', 'Tasteless']
['G2 Heretics', '2019 Spring', 'Players', 'Wardain', 'Lamabear', 'Xico', 'SMILEY', 'Skain']
['Mad Lions E.C', '2019 Spring', 'Players', 'Yoppa', 'bluerzor', 'Pretty', 'Samux', 'Falco']
['Movistar Riders', '2019 Spring', 'Players', 'iBo', 'TynX', 'Sebekx', 'Nixerino', 'Anthrax']
['Origen BCN', '2019 Spring', 'Players', 'Szygenda', 'Zanzarah', 'Roison', 'Venzer', 'Homi', 'Speedy']
['Penguins', '2019 Spring', 'Players', 'Aziado', 'Cboi', 'Baca', 'Javaaa', 'Rhuckz', 'StormFury']
['S2V Esports', '2019 Spring', 'Players', 'Siler', 'Carbono', 'pÏ€', 'Flakked', 'Xixauxas', 'Nandisko', 'pÏ€', 'Siler', 'pÏ€', 'DuaLL']
['Splyce Vipers', '2019 Spring', 'Players', 'Orome', 'Tierwulf', 'Hatrixx', 'Freeze', 'Prime', 'Sharp']
['Vodafone Giants', '2019 Spring', 'Players', 'Th3Antonio', 'Razork', 'Milica', 'Deadly', 'Denyk']
['x6tence', '2019 Spring', 'Players', 'Brosak', 'Koldo', 'Eren', 'Sanchez', 'Rafa', 'S']
['Asus ROG Army', '2018 Summer', 'Players', 'Kaze', 'Kadir', 'Zwyroo', 'Sedrion', 'Prime', 'Lukezy', 'Xixauxas']
['Dragons E.C', '2018 Summer', 'Players', 'Sacre', 'Hero', 'Energy', 'Barcode', 'Gaax', 'Vrow', 'Sertuss', 'Homi']
['E-Monkeyz Club', '2018 Summer', 'Players', 'Moryo', 'Carbono', 'Sertuss', 'M0NK', 'Tarky', 'DahVys', 'Czekolad', 'Tarky', 'Czekolad', 'M0NK']
['KIYF', '2018 Summer', 'Players', 'Orome', 'Aesthetic', 'ZaZee', 'Carzzy', 'Labrov', 'Rufus']
['MAD Lions E.C.', '2018 Summer', 'Players', 'WerIyb', 'Selfmade', 'Nemesis', 'Crownie', 'Falco']
['Movistar Riders', '2018 Summer', 'Players', 'Finn', 'Cinkrof', 'Hatrixx', 'Jeskla', 'Klaj', 'Xyraz', 'Jeskla', 'Cinkrof', 'Hatrixx']
['Penguins', '2018 Summer', 'Players', 'Nandisko', 'DahVys', 'Siler', 'Javaaa', 'Karakal Jr', 'Glebo', 'Ippon']
['Vodafone Giants Gaming', '2018 Summer', 'Players', 'Yoppa', 'Razork', 'Kashtelan', 'Deadly', 'Denyk', 'Mystiques']
['Asus ROG Army', '2018 Spring', 'Players', 'Kektz', 'Lamabear', 'Pretty', 'Sedrion', 'Anthrax', 'Ripi']
['E-Monkeyz Club', '2018 Spring', 'Players', 'Moryo', 'Rafa', 'Ripi', 'M0NK', 'Mako', 'Pretty', 'Tasteless']
['G2 Vodafone', '2018 Spring', 'Players', 'Agresivoo', 'Hero', 'Roison', 'Nixerino', 'Homi', 'Yukinon']
['KIYF', '2018 Spring', 'Players', 'Scarface', 'Lurox', 'SozPurefect', 'Innaxe', 'Doss', 'Inspired', 'Alcaffee']
['MAD Lions E.C.', '2018 Spring', 'Players', 'WerIyb', 'Selfie', 'Nemesis', 'Crownie', 'Falco', 'Selfmade']
['Movistar Riders', '2018 Spring', 'Players', 'fjoompbun', 'bluerzor', 'Hatrixx', 'S', 'Treatz', 'Xyraz', 'Cinkrof', 'MagiFelix', 'Jeskla', 'Defles', 'Klaj']
['Penguins', '2018 Spring', 'Players', 'Jin', '0bsess', 'Noodle', 'Javaaa', 'Karakal Jr', 'Kronos']
['Vodafone Giants Gaming', '2018 Spring', 'Players', 'Yoppa', 'Razork', 'Kashtelan', 'Deadly', 'Mystiques', 'Th3Antonio', 'Th3Antonio']

In [166]:
#seteamos adecuadamente el nombre de las columnas

superliga.columns = ['Team','Split','Player 1','Player 2','Player 3','Player 4','Player 5','Player 6','Player 7','Player 8','Player 9','Player 10','Player 11','Player 12']

In [167]:
#normalizamos los valores de los equipos que han cambiado sutilmente de nombre a lo largo del tiempo para unificarlos como una sola entidad

for i in range(len(superliga['Team'])):
    if 'Lions' in superliga['Team'][i]:
        superliga['Team'][i] = 'Mad Lions Academy'
    elif 'KOI' in superliga['Team'][i]:
       superliga['Team'][i] = 'KOI Academy'
    elif 'Giants' in superliga['Team'][i]:
       superliga['Team'][i] = 'Giants'
    elif 'Heretics' in superliga['Team'][i] and superliga['Team'][i] != 'G2 Heretics':
       superliga['Team'][i] = 'Heretics Academy'
    elif 'Monkeyz' in superliga['Team'][i]:
       superliga['Team'][i] = 'E-monkeyz Club'
    elif 'UCAM' in superliga['Team'][i]:
       superliga['Team'][i] = 'UCAM'

In [168]:
#Sacamos los datos de los CSVs creados en el archivo de prueba y que nos aportan la información del desempeño de los jugadores por temporada

Spring2023 = pd.read_csv('../data/2023Spring.csv',encoding='utf-8',encoding_errors= 'ignore')
Summer2022 = pd.read_csv('../data/2022Summer.csv',encoding='utf-8',encoding_errors= 'ignore')
Spring2022 = pd.read_csv('../data/2022Spring.csv',encoding='utf-8',encoding_errors= 'ignore')
Summer2021 = pd.read_csv('../data/2021Summer.csv',encoding='utf-8',encoding_errors= 'ignore')
Spring2021 = pd.read_csv('../data/2021Spring.csv',encoding='utf-8',encoding_errors= 'ignore')
Summer2020 = pd.read_csv('../data/2020Summer.csv',encoding='utf-8',encoding_errors= 'ignore')
Spring2020 = pd.read_csv('../data/2020Spring.csv',encoding='utf-8',encoding_errors= 'ignore')
Summer2019 = pd.read_csv('../data/2019Summer.csv',encoding='utf-8',encoding_errors= 'ignore')
Spring2019 = pd.read_csv('../data/2019Spring.csv',encoding='utf-8',encoding_errors= 'ignore')
Summer2018 = pd.read_csv('../data/2018Summer.csv',encoding='utf-8',encoding_errors= 'ignore')
Spring2018 = pd.read_csv('../data/2018Spring.csv',encoding='utf-8',encoding_errors= 'ignore')
Summer2017 = pd.read_csv('../data/2017Summer.csv',encoding='utf-8',encoding_errors= 'ignore')
Spring2017 = pd.read_csv('../data/2017Spring.csv',encoding='utf-8',encoding_errors= 'ignore')
Summer2016 = pd.read_csv('../data/2016Summer.csv',encoding='utf-8',encoding_errors= 'ignore')
Spring2016 = pd.read_csv('../data/2016Spring.csv',encoding='utf-8',encoding_errors= 'ignore')
Summer2015 = pd.read_csv('../data/2015Summer.csv',encoding='utf-8',encoding_errors= 'ignore')
Spring2015 = pd.read_csv('../data/2015Spring.csv',encoding='utf-8',encoding_errors= 'ignore')

In [169]:
#Los concatenamos en un solo DataFrame

hist_players = pd.concat([Spring2023,
Summer2022,
Spring2022,
Summer2021,
Spring2021,
Summer2020,
Spring2020,
Summer2019,
Spring2019,
Summer2018,
Spring2018,
Summer2017,
Spring2017,
Summer2016,
Spring2016,
Summer2015,
Spring2015],ignore_index=True)

In [170]:
#Eliminamos dos columnas que se introdujeron sin querer y que no aportan valor alguno

hist_players = hist_players.drop(['in',"i.get_attribute('href')"],axis = 1)

In [171]:
#Cambiamos el nombre de las columnas a algo más legible
hist_players.columns = ['Player', 'Country', 'Games', 'Win rate', 'KDA', 'Avg kills',
       'Avg deaths', 'Avg assists', 'CS-Min', 'Gold-Min', 'KP%', 'DMG%', 'DP-Min', 'Vision Puntuation Min',
       'Avg Wards Min', 'Avg Wards Cleared Min', 'Avg Vision Wards Min', 'Gold Difference Min-15', 'CS Difference Min-15', 'XP Difference Min-15', 'First Blood Participation %',
       'First Blood Victim %', 'Penta Kills', 'Solo Kills', 'Split']

In [172]:
#Pasamos a nan aquellos valores - para las columnas que los tuviesen

hist_players['KDA'] = hist_players['KDA'].apply(f.pasar_a_nan)
hist_players['Gold-Min'] = hist_players['Gold-Min'].apply(f.pasar_a_nan)
hist_players['KP%'] = hist_players['KP%'].apply(f.pasar_a_nan)
hist_players['DMG%'] = hist_players['DMG%'].apply(f.pasar_a_nan)
hist_players['DP-Min'] = hist_players['DP-Min'].apply(f.pasar_a_nan)
hist_players['Vision Puntuation Min'] = hist_players['Vision Puntuation Min'].apply(f.pasar_a_nan)
hist_players['Avg Wards Min'] = hist_players['Avg Wards Min'].apply(f.pasar_a_nan)
hist_players['Avg Wards Cleared Min'] = hist_players['Avg Wards Cleared Min'].apply(f.pasar_a_nan)
hist_players['Avg Vision Wards Min'] = hist_players['Avg Vision Wards Min'].apply(f.pasar_a_nan)
hist_players['Gold Difference Min-15'] = hist_players['Gold Difference Min-15'].apply(f.pasar_a_nan)
hist_players['CS Difference Min-15'] = hist_players['CS Difference Min-15'].apply(f.pasar_a_nan)
hist_players['XP Difference Min-15'] = hist_players['XP Difference Min-15'].apply(f.pasar_a_nan)
hist_players['First Blood Participation %'] = hist_players['First Blood Participation %'].apply(f.pasar_a_nan)
hist_players['First Blood Victim %'] = hist_players['First Blood Victim %'].apply(f.pasar_a_nan)
hist_players['Penta Kills'] = hist_players['Penta Kills'].apply(f.pasar_a_nan)
hist_players['Solo Kills'] = hist_players['Solo Kills'].apply(f.pasar_a_nan)

In [173]:
#Limpiamos aquellos simbolos que impiden unificar el tipo de variable de las columnas

hist_players['Win rate'] = hist_players['Win rate'].apply(f.limpiar_simbolo)
hist_players['KP%'] = hist_players['KP%'].apply(f.limpiar_simbolo)
hist_players['First Blood Participation %'] = hist_players['First Blood Participation %'].apply(f.limpiar_simbolo)
hist_players['First Blood Victim %'] = hist_players['First Blood Victim %'].apply(f.limpiar_simbolo)

In [174]:
#seteamos la variable correcta según las columna

hist_players['Games'] = hist_players['Games'].astype(int)
hist_players['KDA'] = hist_players['KDA'].astype(float)
hist_players['Gold-Min'] = hist_players['Gold-Min'].astype(float)
hist_players['KP%'] = hist_players['KP%'].astype(float)
hist_players['DMG%'] = hist_players['DMG%'].astype(float)
hist_players['DP-Min'] = hist_players['DP-Min'].astype(float)
hist_players['Vision Puntuation Min'] = hist_players['Vision Puntuation Min'].astype(float)
hist_players['Avg Wards Min'] = hist_players['Avg Wards Min'].astype(float)
hist_players['Avg Wards Cleared Min'] = hist_players['Avg Wards Cleared Min'].astype(float)
hist_players['Avg Vision Wards Min'] = hist_players['Avg Vision Wards Min'].astype(float)
hist_players['Gold Difference Min-15'] = hist_players['Gold Difference Min-15'].astype(float)
hist_players['CS Difference Min-15'] = hist_players['CS Difference Min-15'].astype(float)
hist_players['XP Difference Min-15'] = hist_players['XP Difference Min-15'].astype(float)
hist_players['First Blood Participation %'] = hist_players['First Blood Participation %'].astype(float)
hist_players['First Blood Victim %'] = hist_players['First Blood Victim %'].astype(float)
hist_players['Penta Kills'] = hist_players['Penta Kills'].astype(float)
hist_players['Solo Kills'] = hist_players['Solo Kills'].astype(float)

In [175]:
#Creamos la columna para equipo
hist_players['Team'] = np.nan

In [176]:
#Introducimos los equipos desde el dataframe de superliga comparando los nombres de los jugadores
for i in range(12):
    for p in range(len(superliga[f'Player {i+1}'])):
        for j in range(len(hist_players['Player'])):
            if superliga[f'Player {i+1}'][p] == hist_players['Player'][j] and superliga['Split'][p] == hist_players['Split'][j]:
                hist_players['Team'][j] = superliga['Team'][p]

In [177]:
#guardamos este dataframe de modo que no tengamos que volver a scrapear y podamos trabajar con esto
hist_players.to_csv('../Data/Maestra.csv', index=False)

In [178]:
#Creamos la que será nuestra tabla de equipos y la llenamos con los valores únicos de los equipos que conocemos
teams = pd.DataFrame()
teams['name'] = pd.unique(hist_players['Team'])
teams = teams.drop(0)

In [179]:
teams['team_id'] = teams.index
teams = teams.reindex(['team_id','name'],axis=1)

In [180]:
teams = teams.reset_index(drop=True)

In [181]:
#hacemos lo propio con nuestra tabla de temporadas (splits)
split = pd.DataFrame()
split['temp'] = pd.unique(hist_players['Split'])

In [182]:
split['split_id'] = split.index +1
split = split.reindex(['split_id','temp'],axis=1)
split = split.reset_index(drop=True)

In [183]:
split['year'] = 0
split['split'] = ''

In [184]:
#dividimos el dato que tenemos de la misma por si en un futuro queremos acceder a los datos por año y no solo por split
for i in range(len(split['temp'])):
    split['year'][i] = split['temp'][i].split()[0]
    split['split'][i] = split['temp'][i].split()[1]

In [185]:
split = split .drop('temp',axis=1)

In [186]:
#volviendo a hist rellenamos los nulos del pais con desconocido
hist_players['Country'] = hist_players['Country'].fillna('Unknown')

In [187]:
#creamos nuestra tabla para los jugadores como una única entidad
players = hist_players
players = players.drop(['Split','Team'],axis=1)

In [188]:
#Le damos los valores de la media en base a su performance en todos los splits que conocemos
players = players.groupby(['Player','Country']).mean()

In [189]:
players['Player'] = ''
players['Country'] = ''
for i in range(len(players.index)):
    players['Player'][i] = players.index[i][0]
    players['Country'][i] = players.index[i][1]

players = players.reset_index(drop = True)
players['player_id'] = players.index+1

In [190]:
players = players.reindex(['player_id', 'Player',
       'Country','Games', 'Win rate', 'KDA', 'Avg kills', 'Avg deaths', 'Avg assists',
       'CS-Min', 'Gold-Min', 'KP%', 'DMG%', 'DP-Min', 'Vision Puntuation Min',
       'Avg Wards Min', 'Avg Wards Cleared Min', 'Avg Vision Wards Min',
       'Gold Difference Min-15', 'CS Difference Min-15',
       'XP Difference Min-15', 'First Blood Participation %',
       'First Blood Victim %', 'Penta Kills', 'Solo Kills'],axis=1)

In [191]:
#Creamos la tabla de ganadores a través del siguiente scrapeo y la limpiamos un poco
winners = pd.read_clipboard()

In [192]:
winners = winners.drop(['P#','Location','Prize'],axis=1)

In [193]:
#Unificamos los equipos como ya habíamos hablado
for i in range(len(winners['Winner'])):
    if 'Lions' in winners['Winner'][i]:
        winners['Winner'][i] = 'Mad Lions Academy'
    elif 'Riders' in winners['Winner'][i]:
       winners['Winner'][i] = 'Movistar Riders'
    elif 'Giants' in winners['Winner'][i]:
       winners['Winner'][i]= 'Giants'
    elif 'Heretics' in winners['Winner'][i]:
       winners['Winner'][i] = 'Heretics Academy'
    elif 'Fnatic' in winners['Winner'][i]:
       winners['Winner'][i] = 'Fnatic TQ'
    elif 'UCAM' in winners['Winner'][i]:
       winners['Winner'][i]= 'UCAM'
    elif 'Splyce' in winners['Winner'][i]:
       winners['Winner'][i] = 'Splyce Vipers'

In [194]:
for i in range(len(winners['Runner-up'])):
    if 'Lions' in winners['Runner-up'][i]:
        winners['Runner-up'][i] = 'Mad Lions Academy'
    elif 'Riders' in winners['Runner-up'][i]:
       winners['Runner-up'][i] = 'Movistar Riders'
    elif 'Giants' in winners['Runner-up'][i]:
       winners['Runner-up'][i]= 'Giants'
    elif 'Heretics' in winners['Runner-up'][i]:
       winners['Runner-up'][i] = 'Heretics Academy'
    elif 'Betis' in winners['Runner-up'][i]:
       winners['Runner-up'][i] = 'Cream Real Betis'
    elif 'UCAM' in winners['Runner-up'][i]:
       winners['Runner-up'][i]= 'UCAM'
    elif 'BISONS' in winners['Runner-up'][i]:
       winners['Runner-up'][i] = 'BISONS ECLUB'
    elif 'Origen' in winners['Runner-up'][i]:
       winners['Runner-up'][i] = 'Origen BCN'
    elif 'Arctic' in winners['Runner-up'][i]:
       winners['Runner-up'][i] = 'G2 Arctic'

In [195]:
#Dejamos el split en el mismo formato para luego poder traducir
for i in range(len(winners['Date'])):
    if i%2 == 0:
         winners['G & S   Tournament'][i] = winners['Date'][i].split()[5] + ' Spring'
    else:
         winners['G & S   Tournament'][i] = winners['Date'][i].split()[5] + ' Summer'

In [196]:
winners = winners.drop('Date',axis=1)

In [197]:
winners['winner_id'] = winners.index + 1
winners= winners.reindex(['winner_id','G & S   Tournament', 'Winner', 'Runner-up'],axis=1)
winners.columns = ['winner_id','split_id','Winner','Runner-up']

In [198]:
hist_players['hist_id'] = hist_players.index + 1
hist_players = hist_players.reindex(['hist_id', 'Country', 'Games', 'Win rate', 'KDA', 'Avg kills',
       'Avg deaths', 'Avg assists', 'CS-Min', 'Gold-Min', 'KP%', 'DMG%', 'DP-Min', 'Vision Puntuation Min',
       'Avg Wards Min', 'Avg Wards Cleared Min', 'Avg Vision Wards Min', 'Gold Difference Min-15', 'CS Difference Min-15', 'XP Difference Min-15', 'First Blood Participation %',
       'First Blood Victim %', 'Penta Kills', 'Solo Kills', 'Split','Team','Player'],axis=1)

In [200]:
#Sacamos ahora sí los verdaderos datos de equipos de un CSV de una web
teamsSuperliga = pd.read_csv('../data/TeamsSuperligaGlobal.csv',encoding='utf-8',encoding_errors= 'ignore')
teamsSuperliga = f.set_column_names(teamsSuperliga)

In [201]:
#Lo unimos a teams y limpiamos
teams = pd.concat([teams,teamsSuperliga,],ignore_index=True)

In [202]:
for i in range(len(teams['Team'])):
    try:
        if 'Lions' in teams['Team'][i]:
            teams['Team'][i] = 'Mad Lions Academy'
        elif 'KOI' in teams['Team'][i]:
            teams['Team'][i] = 'KOI Academy'
        elif 'Giants' in teams['Team'][i]:
            teams['Team'][i] = 'Giants'
        elif 'Heretics' in teams['Team'][i] and teams['Team'][i] != 'G2 Heretics':
            teams['Team'][i] = 'Heretics Academy'
        elif 'Monkeyz' in teams['Team'][i]:
            teams['Team'][i] = 'E-monkeyz Club'
        elif 'UCAM' in teams['Team'][i]:
            teams['Team'][i] = 'UCAM'
        elif 'Bar&ccedil;a eSports' in teams['Team'][i]:
            teams['Team'][i] = 'Barça eSports'
    except:
        continue

In [215]:
def quitar_coma(x):
       try:
              x = re.sub(r',', '', x)
              return float(x)
       except:
              return float(x)

teams['Gold'] = teams['Gold'].apply(quitar_coma)

In [204]:
for i in teams.columns:
    if i != 'name' and i != 'Team':
        teams[f'{i}'] = teams[f'{i}'].astype(float)

In [205]:
for i in range(25,54):
    teams.name[i] = teams.Team[i]

In [206]:
teams = teams.drop('Team',axis=1)
teams = teams.groupby('name').mean()

In [207]:
teams['name'] = teams.index
teams = teams.reset_index(drop=True)

In [208]:
teams.team_id = teams.index+1
teams = teams.reindex(['team_id','name', 'M', 'G', 'W', 'L', 'Kills', 'Deaths', 'Towers',
       'Inhibitors', 'Dragons', 'Barons', 'Gold', 'Creep Score', 'Wards',
       'Wards Cleared', 'First Tower', 'First Blood'],axis=1)

In [209]:
def to_int(x):
    try:
        x = int(x)
        return x
    except:
        return x


teams['M'] = teams['M'].apply(to_int)
teams['G'] = teams['G'].apply(to_int)
teams['W'] = teams['W'].apply(to_int)
teams['L'] = teams['L'].apply(to_int)

In [210]:
#Empezamos con la traducción de columnas a foreing key
for i in range(len(winners['split_id'])):
    for j in range(len(split['split'])):
        if winners['split_id'][i] == split['year'][j]+' '+ split['split'][j]:
            winners['split_id'][i] = split['split_id'][j]

In [211]:
for i in range(len(hist_players['Split'])):
    for j in range(len(split['split'])):
        if hist_players['Split'][i] == split['year'][j]+' '+ split['split'][j]:
            hist_players['Split'][i] = split['split_id'][j]

In [14]:
#Me doy cuenta de lo poco legible que son los paises y los dejo en inglés
countries =  {' TW': 'Taiwan', ' TR': 'Turkey', ' KR': 'South Korea', ' NL':'Netherlands', ' CN': 'China', ' BG':'Bulgary', ' PS':'Palestine', ' EE':'Estonia', ' RU':'Russia',
       ' KW':'Kuwait', ' RO':'Romania', ' US':'USA', ' BA':'Bosnia and herzegovina','Unknown':'Unknown', ' AU':'Australia',
       ' CL':'Chile', ' EG':'Egypt', ' VN':'Vietnam', ' MK':'North Macedonia', ' FI':'Finland', ' SY':'Syria', ' GR':'Greece', ' NO':'Norway', ' CR':'Costa Rica',
       ' VE':'Venezuela', ' DK':'Denmark', ' RS':'Serbia', ' HR':'Croatia', ' UY':'Uruguay', ' NZ':'New Zeland', ' AT':'Austria', ' SK':'Slovakia', ' PH':'Philippines',
       ' GB':'United Kingdom', ' LB':'Lebanon', ' IT':'Italy', ' SI': 'Slovenia',' TN': 'Tunisia',' JO': 'Jordan',' DO': 'Dominican Republic',' LT': 'Lithuania',' UA': 'Ukraine',' HK': 'Hong Kong',
       ' HU': 'Hungary',' MO': 'Macao',' BY': 'Belarus',' MX': 'Mexico',' BE': 'Belgium',' CY': 'Cyprus',' CH': 'Switzerland',' ME': 'Montenegro',' PE': 'Peru',' PF': 'French Polynesia',
       ' DZ': 'Algeria',' AE': 'United Arab Emirates',' LV': 'Latvia',' MN': 'Mongolia',' AL': 'Albania',' MY': 'Malaysia',' IE': 'Ireland',' AM': 'Armenia',' MA': 'Morocco',' IL': 'Israel',
       ' EC': 'Ecuador',' ZA': 'South Africa',' SG': 'Singapore',' CO': 'Colombia',' MD': 'Moldova',' IS': 'Iceland',' LU': 'Luxembourg',' TH': 'Thailand',' ID': 'Indonesia', ' DE':'Germany',
       ' CA':'Canada', ' ES':'Spain', ' AR':'Argentina', ' JP':'Japan', ' FR':'France', ' SE':'Sweden', ' PL':'Poland', ' CZ':'Czech Republic', ' BR':'Brasil', ' PT':'Portugal', ' SA':'Saudi Arabia'}

In [15]:
for i,e in countries.items():
    hist_players['Country'] = hist_players['Country'].replace(i, e)
    players['Country'] = players['Country'].replace(i, e)

In [214]:
#seguimos con la traducción
for i in range(len(hist_players['Player'])):
    for j in range(len(players['Player'])):
        if hist_players['Player'][i] == players['Player'][j]:
            hist_players['Player'][i] = players['player_id'][j]

In [215]:
for i in range(len(hist_players['Team'])):
    for j in range(len(teams['name'])):
        if hist_players['Team'][i] == teams['name'][j]:
            hist_players['Team'][i] = teams['team_id'][j]

In [216]:
for i in range(len(winners['Winner'])):
    for j in range(len(teams['name'])):
        if winners['Winner'][i] == teams['name'][j]:
            winners['Winner'][i] = teams['team_id'][j]
        if winners['Runner-up'][i] == teams['name'][j]:
            winners['Runner-up'][i] = teams['team_id'][j]

In [39]:
#aquí previamente pasé los DataFrames a csv para luego poder cargarlos sin necesidad de ejecutar todo el código pensando en que solo quedaba 
#la carga de los mismos aunuque aun quedarían algunos retoques de cara a dejar todas las columnas con el nombre adecuado y algún arreglo en hist
players = pd.read_csv('../Data/players.csv')
hist_players = pd.read_csv('../Data/hist.csv')
winners = pd.read_csv('../Data/winners.csv')
split = pd.read_csv('../Data/split.csv')
teams = pd.read_csv('../Data/teams.csv')
leagues = pd.read_csv('../Data/leagues.csv')

In [40]:
players.columns = ['player_id', 'nick', 'Country', 'Games', 'Win rate', 'KDA',
       'Avg kills', 'Avg deaths', 'Avg assists', 'CS-Min', 'Gold-Min', 'KP%',
       'DMG%', 'Deaths-Min', 'Vision Puntuation Min', 'Avg Wards Min',
       'Avg Wards Cleared Min', 'Avg Vision Wards Min',
       'Gold Difference Min-15', 'CS Difference Min-15',
       'XP Difference Min-15', 'First Blood Participation %',
       'First Blood Victim %', 'Penta Kills', 'Solo Kills']

In [41]:
teams['league_id'] = 1

In [42]:
teams.columns = ['team_id', 'name', 'Matches', 'Games', 'Wins', 'Loses', 'Kills', 'Deaths', 'Towers',
       'Inhibitors', 'Dragons', 'Barons', 'Gold', 'Creep Score', 'Wards',
       'Wards Cleared', 'First Tower', 'First Blood','leagues_id']

In [43]:
hist_players.columns = ['hist_id', 'Country', 'Games', 'Win rate', 'KDA', 'Avg kills',
       'Avg deaths', 'Avg assists', 'CS-Min', 'Gold-Min', 'KP%', 'DMG%',
       'Deaths-Min', 'Vision Puntuation Min', 'Avg Wards Min',
       'Avg Wards Cleared Min', 'Avg Vision Wards Min',
       'Gold Difference Min-15', 'CS Difference Min-15',
       'XP Difference Min-15', 'First Blood Participation %',
       'First Blood Victim %', 'Penta Kills', 'Solo Kills', 'split_id', 'team_id',
       'players_id']

In [44]:
nueva_fila = pd.DataFrame({'team_id':[27], 'name': ['G2 Vodafone'], 'Matches':[np.nan], 'Games':[np.nan], 'Wins':[np.nan], 'Loses':[np.nan], 'Kills':[np.nan], 'Deaths':[np.nan], 'Towers':[np.nan],
       'Inhibitors':[np.nan], 'Dragons':[np.nan], 'Barons':[np.nan], 'Gold':[np.nan], 'Creep Score':[np.nan], 'Wards':[np.nan],
       'Wards Cleared':[np.nan], 'First Tower':[np.nan], 'First Blood':[np.nan],'leagues_id':[1]})

teams = pd.concat([teams,nueva_fila],ignore_index=True)

In [45]:
hist_players.team_id[14202] = 27
hist_players.team_id[14461] = 27
hist_players.team_id[14467] = 27
hist_players.team_id[14688] = 27
hist_players.team_id[14803] = 27
hist_players.team_id[15014] = 27

In [46]:
winners.columns = ['winner_id', 'split_id', 'winnerteam_id', 'runner-up_id']

In [47]:
pd.unique(hist_players['Country'])

array(['Taiwan', 'Turkey', 'South Korea', 'Netherlands', 'China',
       'Bulgary', 'Palestine', 'Estonia', 'Russia', 'Kuwait', 'Romania',
       'USA', 'Bosniabosnia and herzegovina', 'Germany', 'Canada',
       'Spain', 'Argentina', 'Japan', 'France', 'Sweden', 'Poland',
       'Czech Republic', 'Brasil', 'Portugal', 'Saudi Arabia', 'Unknown',
       'Australia', 'Chile', 'Egypt', 'Vietnam', 'North Macedonia',
       'Finland', 'Syria', 'Greece', 'Norway', 'Costa Rica', 'Venezuela',
       'Denmark', 'Serbia and Montenegro', 'Croatia', 'Uruguay',
       'New Zeland', 'Austria', 'Slovakia', 'Philippines',
       'United Kingdom', 'Lebanon', 'Italy', 'Slovenia', 'Tunisia',
       'Jordan', 'Dominican Republic', 'Lithuania', 'Ukraine',
       'Hong Kong', 'Hungary', 'Macao', 'Belarus', 'Mexico', 'Belgium',
       'Cyprus', 'Switzerland', 'Montenegro', 'Peru', 'French Polynesia',
       'Algeria', 'United Arab Emirates', 'Latvia', 'Mongolia', 'Albania',
       'Malaysia', 'Ireland', 'Armenia', 'Morocco', 'Israel', 'Ecuador',
       'South Africa', 'Singapore', 'Colombia', 'Moldova', 'Iceland',
       'Luxembourg', 'Thailand', 'Indonesia'], dtype=object)

In [48]:
hist_players['Country'] = hist_players['Country'].replace('Bosniabosnia and herzegovina', 'Bosnia and herzegovina')
players['Country'] = players['Country'].replace('Bosniabosnia and herzegovina', 'Bosnia and herzegovina')
hist_players['Country'] = hist_players['Country'].replace('Serbia and Montenegro', 'Serbia')
players['Country'] = players['Country'].replace('Serbia and Montenegro', 'Serbia')

In [49]:
players.to_excel("players.xlsx", index=False)
hist_players.to_excel("hist.xlsx", index=False)
winners.to_excel("winners.xlsx", index=False)
split.to_excel("split.xlsx", index=False)
teams.to_excel("teams.xlsx", index=False)
leagues.to_excel("leagues.xlsx", index=False)

In [5]:
#sacamos la contraseña del archivo que ignoraremos
with open('../ignored/passwords.txt', 'r') as file:
    
    passwd=file.read()

In [6]:
#me conecto al servidor mysql y a la base de datos
str_conn=f'mysql+pymysql://root:{passwd}@127.0.0.1:3306/lol_esports'

cursor=create_engine(str_conn)

In [65]:
#cargamos los datos en el orden correcto tras realizar la pertinente query en SQL en la tabla de ligas
players.to_sql(name='players', con=cursor, if_exists='append', index=False)

4647

In [66]:
split.to_sql(name='splits', con=cursor, if_exists='append', index=False)

16

In [67]:
teams.to_sql(name='teams', con=cursor, if_exists='append', index=False)

27

In [68]:
winners.to_sql(name='winners', con=cursor, if_exists='append', index=False)

12

In [69]:
hist_players.to_sql(name='hist-players', con=cursor, if_exists='append', index=False)

16663

In [63]:
hist_teams = pd.read_csv('../data/SL-2022-Spring.CSV')

In [4]:
columns = hist_teams.columns[0].split(',')

In [64]:
columns = ['Tournament', 'Team1', 'Team2', 'WinTeam', 'LossTeam', 'Team1Player1','Team1Player2','Team1Player3','Team1Player4','Team1Player5', 'Team2Player1', 'Team2Player2','Team2Player3','Team2Player4','Team2Player5','Team1Dragons', 'Team2Dragons', 'Team1Barons', 'Team2Barons', 'Team1Towers', 'Team2Towers', 'Team1RiftHeralds', 'Team2RiftHeralds', 'Team1Inhibitors', 'Team2Inhibitors', 'MatchHistory']

In [65]:
for i in range(len(columns)):
    for j in range(len(hist_teams['Tournament,Team1,Team2,WinTeam,LossTeam,Team1Players,Team2Players,Team1Dragons,Team2Dragons,Team1Barons,Team2Barons,Team1Towers,Team2Towers,Team1RiftHeralds,Team2RiftHeralds,Team1Inhibitors,Team2Inhibitors,MatchHistory'])):
        hist_teams[columns[i]] = hist_teams['Tournament,Team1,Team2,WinTeam,LossTeam,Team1Players,Team2Players,Team1Dragons,Team2Dragons,Team1Barons,Team2Barons,Team1Towers,Team2Towers,Team1RiftHeralds,Team2RiftHeralds,Team1Inhibitors,Team2Inhibitors,MatchHistory'][j].split(',')[i]

In [15]:
hist_teams.head()

,"Tournament,Team1,Team2,WinTeam,LossTeam,Team1Score,Team2Score,Team1Players,Team2Players,Team1Dragons,Team2Dragons,Team1Barons,Team2Barons,Team1Towers,Team2Towers,Team1RiftHeralds,Team2RiftHeralds,Team1Inhibitors,Team2Inhibitors,MatchHistory",Tournament,Team1,Team2,WinTeam,LossTeam,Team1Score,Team2Score,Team1Player1,Team1Player2,...,Team2Dragons,Team1Barons,Team2Barons,Team1Towers,Team2Towers,Team1RiftHeralds,Team2RiftHeralds,Team1Inhibitors,Team2Inhibitors,MatchHistory
0,",""COGnitive Gaming"",""compLexity Gaming"",""COGni...","""Asobu Esports Experience 2022 Offline Qualifier""","""Green Dolphin Gaming""","""Magna Esports""","""Magna Esports""","""Green Dolphin Gaming""",0,1,"""Enemy (Spanish Player)",Jarabo,...,4,1,1,3,10,0,2,0,2,
1,",""COGnitive Gaming"",""INRT Gaming"",""COGnitive G...","""Asobu Esports Experience 2022 Offline Qualifier""","""Green Dolphin Gaming""","""Magna Esports""","""Magna Esports""","""Green Dolphin Gaming""",0,1,"""Enemy (Spanish Player)",Jarabo,...,4,1,1,3,10,0,2,0,2,
2,",""COGnitive Gaming"",""Storm (North American Tea...","""Asobu Esports Experience 2022 Offline Qualifier""","""Green Dolphin Gaming""","""Magna Esports""","""Magna Esports""","""Green Dolphin Gaming""",0,1,"""Enemy (Spanish Player)",Jarabo,...,4,1,1,3,10,0,2,0,2,
3,",""COGnitive Gaming"",""Storm (North American Tea...","""Asobu Esports Experience 2022 Offline Qualifier""","""Green Dolphin Gaming""","""Magna Esports""","""Magna Esports""","""Green Dolphin Gaming""",0,1,"""Enemy (Spanish Player)",Jarabo,...,4,1,1,3,10,0,2,0,2,
4,",""COGnitive Gaming"",""Zenith Esports"",""Zenith E...","""Asobu Esports Experience 2022 Offline Qualifier""","""Green Dolphin Gaming""","""Magna Esports""","""Magna Esports""","""Green Dolphin Gaming""",0,1,"""Enemy (Spanish Player)",Jarabo,...,4,1,1,3,10,0,2,0,2,

In [16]:
save = hist_teams['Tournament,Team1,Team2,WinTeam,LossTeam,Team1Players,Team2Players,Team1Dragons,Team2Dragons,Team1Barons,Team2Barons,Team1Towers,Team2Towers,Team1RiftHeralds,Team2RiftHeralds,Team1Inhibitors,Team2Inhibitors,MatchHistory']

In [66]:
hist_teams = hist_teams.drop(['Tournament,Team1,Team2,WinTeam,LossTeam,Team1Players,Team2Players,Team1Dragons,Team2Dragons,Team1Barons,Team2Barons,Team1Towers,Team2Towers,Team1RiftHeralds,Team2RiftHeralds,Team1Inhibitors,Team2Inhibitors,MatchHistory'],axis= 1)

In [67]:
hist_teams.tail()

,Tournament,Team1,Team2,WinTeam,LossTeam,Team1Player1,Team1Player2,Team1Player3,Team1Player4,Team1Player5,...,Team2Dragons,Team1Barons,Team2Barons,Team1Towers,Team2Towers,Team1RiftHeralds,Team2RiftHeralds,Team1Inhibitors,Team2Inhibitors,MatchHistory
85,"""LVP SL 2022 Spring""","""UCAM Tokiers""","""Team Heretics""","""Team Heretics""","""UCAM Tokiers""","""Rubi0o",Nji,Xaky,Afm,"Homi""",...,4,0,1,3,8,0,2,0,1,
86,"""LVP SL 2022 Spring""","""UCAM Tokiers""","""Team Heretics""","""Team Heretics""","""UCAM Tokiers""","""Rubi0o",Nji,Xaky,Afm,"Homi""",...,4,0,1,3,8,0,2,0,1,
87,"""LVP SL 2022 Spring""","""UCAM Tokiers""","""Team Heretics""","""Team Heretics""","""UCAM Tokiers""","""Rubi0o",Nji,Xaky,Afm,"Homi""",...,4,0,1,3,8,0,2,0,1,
88,"""LVP SL 2022 Spring""","""UCAM Tokiers""","""Team Heretics""","""Team Heretics""","""UCAM Tokiers""","""Rubi0o",Nji,Xaky,Afm,"Homi""",...,4,0,1,3,8,0,2,0,1,
89,"""LVP SL 2022 Spring""","""UCAM Tokiers""","""Team Heretics""","""Team Heretics""","""UCAM Tokiers""","""Rubi0o",Nji,Xaky,Afm,"Homi""",...,4,0,1,3,8,0,2,0,1,

In [24]:
%pip install mwclient

Collecting mwclient
  Downloading mwclient-0.10.1-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: six in c:\users\pacot\anaconda3\lib\site-packages (from mwclient) (1.16.0)
Collecting requests-oauthlib
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: requests>=2.0.0 in c:\users\pacot\anaconda3\lib\site-packages (from requests-oauthlib->mwclient) (2.28.1)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
     -------------------------------------- 151.7/151.7 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: idna<4,>=2.5 in c:\users\pacot\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib->mwclient) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\pacot\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib->mwclient) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pacot\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib->mwclient) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pacot\anaconda3\lib\site-packages (from requests>=2.0.0->requests-oauthlib->mwclient) (2022.12.7)
Installing collected packages: oauthlib, requests-oauthlib, mwclient
Successfully installed mwclient-0.10.1 oauthlib-3.2.2 requests-oauthlib-1.3.1
Note: you may need to restart the kernel to use updated packages.

In [25]:
import mwclient

site = mwclient.Site('lol.fandom.com',path= '/')

In [60]:
response = site.api('cargoquery',
                    limit = '10',
                    ofset= '10',
                    tables = 'ScoreboardGames = SG',
                    fields = 'SG.Tournament,SG.Team1,SG.Team2,SG.WinTeam,SG.LossTeam,SG.Team1Score,SG.Team2Score,SG.Team1Players,SG.Team2Players,SG.Team1Dragons,SG.Team2Dragons,SG.Team1Barons,SG.Team2Barons,SG.Team1Towers,SG.Team2Towers,SG.Team1RiftHeralds,SG.Team2RiftHeralds,SG.Team1Inhibitors,SG.Team2Inhibitors,SG.MatchHistory')

In [61]:
dict(response)['cargoquery'][-1]

OrderedDict([('title',
              OrderedDict([('Tournament', None),
                           ('Team1', 'Enemy'),
                           ('Team2', 'compLexity Gaming'),
                           ('WinTeam', 'Enemy'),
                           ('LossTeam', 'compLexity Gaming'),
                           ('Team1Score', '1'),
                           ('Team2Score', '0'),
                           ('Team1Players',
                            'Flaresz,Cackgod,Innox,Otter (Brian Thomas),Bodydrop'),
                           ('Team2Players',
                            'i KeNNy u,TheOddOrange,goldenglue,MabreyBABY,Lohpally'),
                           ('Team1Dragons', None),
                           ('Team2Dragons', None),
                           ('Team1Barons', None),
                           ('Team2Barons', None),
                           ('Team1Towers', '8'),
                           ('Team2Towers', '0'),
                           ('Team1RiftHeralds', None),
                           ('Team2RiftHeralds', None),
                           ('Team1Inhibitors', None),
                           ('Team2Inhibitors', None),
                           ('MatchHistory', None)]))])

In [189]:
spring_2023 = pd.read_clipboard()

In [190]:
spring_2023.shape

(410, 11)

In [191]:
spring_2023.head()

,Name,Champion,Kills,Deaths,Assists,Gold,CS,DamageToChampions,Team,TeamVs,Tournament
0,Agresivoo,Camille,3,3,2,NaN,336,NaN,G2 Vodafone,MAD Lions E.C.,SLO 2018 Spring Playoffs
1,Agresivoo,Camille,3,3,2,NaN,336,NaN,G2 Vodafone,MAD Lions E.C.,SLO 2018 Spring Playoffs
2,Agresivoo,Camille,3,3,2,NaN,336,NaN,G2 Vodafone,MAD Lions E.C.,SLO 2018 Spring Playoffs
3,Agresivoo,Camille,3,3,2,NaN,336,NaN,G2 Vodafone,MAD Lions E.C.,SLO 2018 Spring Playoffs
4,Agresivoo,Cho'Gath,1,4,1,NaN,213,NaN,G2 Vodafone,MAD Lions E.C.,SLO 2018 Spring Playoffs

In [192]:
temp = games_players

In [193]:
games_players = pd.concat([temp,spring_2023])

In [194]:
games_players = games_players.drop_duplicates()

In [195]:
games_players = games_players.reset_index(drop=True)

In [196]:
games_players.shape

(12650, 11)

In [217]:
games_players['Gold'] = games_players['Gold'].apply(quitar_coma)
games_players['DamageToChampions'] = games_players['DamageToChampions'].apply(quitar_coma)

In [230]:
pd.unique(games_players['Tournament'])

array(['2023 Spring', '2023 Summer', '2022 Summer', '2022 Spring',
       '2021 Spring', '2021 Summer', '2020 Summer', '2020 Spring',
       '2019 Spring', '2019 Summer', '2018 Summer', '2018 Spring'],
      dtype=object)

In [220]:
games_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12650 entries, 0 to 12649
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               12650 non-null  object
 1   Champion           12650 non-null  object
 2   Kills              12650 non-null  int64
 3   Deaths             12650 non-null  int64
 4   Assists            12650 non-null  int64
 5   Gold               12160 non-null  float64
 6   CS                 12650 non-null  int64
 7   DamageToChampions  6320 non-null   float64
 8   Team               12650 non-null  int64
 9   TeamVs             12650 non-null  int64
 10  Tournament         12650 non-null  object
dtypes: float64(2), int64(6), object(3)
memory usage: 1.1+ MB

In [212]:
pd.unique(games_players['Team'])

array([ 8, 20, 12, 11, 17, 15, 13,  2,  3, 24,  9, 16, 23,  7, 21,  1,  5,
       25, 19, 22, 18, 10, 14,  6,  0, 26], dtype=int64)

In [397]:
games_players.to_excel("games_players.xlsx", index=False)

In [391]:
#games_players = pd.read_excel('games_players.xlsx')

In [50]:
teams.shape

(27, 19)

In [80]:
dict_team = teams['name'].to_dict()

In [210]:
for i in range(len(games_players['Team'])):
    try:
        if 'Lions' in games_players['Team'][i]:
            games_players['Team'][i] = 'Mad Lions Academy'
        elif 'KOI' in games_players['Team'][i]:
            games_players['Team'][i] = 'KOI Academy'
        elif 'Giants' in games_players['Team'][i]:
            games_players['Team'][i] = 'Giants'
        elif 'Heretics' in games_players['Team'][i] and games_players['Team'][i] != 'G2 Heretics':
            games_players['Team'][i] = 'Heretics Academy'
        elif 'Monkeyz' in games_players['Team'][i]:
            games_players['Team'][i] = 'E-monkeyz Club'
        elif 'UCAM' in games_players['Team'][i]:
            games_players['Team'][i] = 'UCAM'
        elif 'KIYF eSports Club' in games_players['Team'][i]:
            games_players['Team'][i] = 'KIYF'
        elif 'ASUS ROG Army' in games_players['Team'][i]:
            games_players['Team'][i] = 'Asus ROG Army'
        elif 'Cream Real Betis.EU' in games_players['Team'][i]:
            games_players['Team'][i] = 'Cream Real Betis'
        elif 'Dragons E.C.' in games_players['Team'][i]:
            games_players['Team'][i] = 'Dragons E.C'
    except:
        continue

In [208]:
for i in range(len(games_players['TeamVs'])):
    try:
        if 'Lions' in games_players['TeamVs'][i]:
            games_players['TeamVs'][i] = 'Mad Lions Academy'
        elif 'KOI' in games_players['TeamVs'][i]:
            games_players['TeamVs'][i] = 'KOI Academy'
        elif 'Giants' in games_players['TeamVs'][i]:
            games_players['TeamVs'][i] = 'Giants'
        elif 'Heretics' in games_players['TeamVs'][i] and games_players['TeamVs'][i] != 'G2 Heretics':
            games_players['TeamVs'][i] = 'Heretics Academy'
        elif 'Monkeyz' in games_players['TeamVs'][i]:
            games_players['TeamVs'][i] = 'E-monkeyz Club'
        elif 'UCAM' in games_players['TeamVs'][i]:
            games_players['TeamVs'][i] = 'UCAM'
        elif 'Bar&ccedil;a eSports' in games_players['TeamVs'][i]:
            games_players['TeamVs'][i] = 'Barça eSports'
        elif 'KIYF eSports Club' in games_players['TeamVs'][i]:
            games_players['TeamVs'][i] = 'KIYF'
        elif 'ASUS ROG Army' in games_players['TeamVs'][i]:
            games_players['TeamVs'][i] = 'Asus ROG Army'
        elif 'Cream Real Betis.EU' in games_players['TeamVs'][i]:
            games_players['TeamVs'][i] = 'Cream Real Betis'
        elif 'Dragons E.C.' in games_players['TeamVs'][i]:
            games_players['TeamVs'][i] = 'Dragons E.C'
    except:
        continue

In [211]:
for clave, valor in dict_team.items():
    games_players['Team'] = games_players['Team'].replace(valor,clave)
    games_players['TeamVs'] = games_players['TeamVs'].replace(valor,clave)

In [283]:
teams.head(30)

,team_id,name,Matches,Games,Wins,Loses,Kills,Deaths,Towers,Inhibitors,Dragons,Barons,Gold,Creep Score,Wards,Wards Cleared,First Tower,First Blood,leagues_id
0,1,Asus ROG Army,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2,BCN Squad,71.0,71.0,23.0,48.0,11.900000,14.500000,5.00,0.60,2.400000,0.600000,1702.300000,31.200000,3.10,1.30,45.100000,50.70,1
2,3,BISONS ECLUB,62.0,82.0,43.0,39.0,14.400000,14.700000,5.90,0.80,2.300000,0.700000,1789.200000,31.500000,2.80,1.40,45.100000,47.60,1
3,4,Barça eSports,58.0,70.0,38.0,32.0,13.900000,13.300000,6.80,1.10,2.100000,0.800000,1810.700000,32.400000,2.90,1.50,48.600000,45.70,1
4,5,Case Esports,3.0,12.0,6.0,6.0,11.500000,10.300000,6.30,0.80,2.900000,0.600000,1714.800000,30.600000,3.40,1.40,58.300000,33.30,1
5,6,Cream Real Betis,60.0,76.0,41.0,35.0,12.800000,12.700000,6.40,1.10,2.200000,0.800000,1770.600000,32.200000,3.20,1.40,36.800000,43.40,1
6,7,Dragons E.C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
7,8,E-monkeyz Club,109.0,112.0,34.0,78.0,10.200000,14.300000,4.40,0.60,2.000000,0.500000,1678.300000,31.000000,3.20,1.30,30.400000,41.10,1
8,9,Fnatic TQ,58.0,67.0,45.0,22.0,15.900000,13.200000,7.40,1.20,2.700000,0.900000,1859.500000,32.200000,3.00,1.30,58.200000,55.20,1
9,10,G2 Arctic,116.0,144.0,76.0,68.0,12.800000,13.500000,6.60,1.00,2.300000,0.700000,1764.000000,31.600000,3.40,1.40,61.800000,46.50,1
10,11,G2 Heretics,40.0,50.0,29.0,21.0,14.200000,11.600000,7.00,1.30,2.300000,0.700000,1819.100000,32.400000,3.40,1.30,62.000000,58.00,1
11,12,Giants,88.0,109.0,65.0,43.0,12.850000,11.750000,6.75,1.10,2.550000,0.800000,1809.400000,32.600000,3.20,1.45,53.400000,56.75,1
12,13,Guasones,21.0,31.0,9.0,22.0,12.300000,15.300000,5.50,0.70,1.800000,0.700000,1738.700000,31.100000,2.40,1.40,35.500000,45.20,1
13,14,Heretics Academy,29.0,34.0,21.0,13.0,15.000000,11.950000,7.15,1.30,2.800000,0.950000,1848.850000,31.950000,2.95,1.55,55.600000,68.40,1
14,15,KIYF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
15,16,KOI Academy,29.0,35.0,16.0,19.0,11.850000,12.450000,6.20,0.85,1.950000,0.650000,1756.550000,32.300000,2.75,1.35,44.300000,48.00,1
16,17,Mad Lions Academy,74.0,82.0,38.0,44.0,12.600000,12.050000,6.30,0.95,2.200000,0.750000,1764.150000,31.750000,3.25,1.40,53.800000,61.30,1
17,18,Movistar Riders,175.0,212.0,124.0,88.0,14.700000,12.400000,6.80,1.10,2.800000,0.800000,1802.100000,31.800000,3.30,1.40,61.800000,51.90,1
18,19,Origen BCN,40.0,56.0,34.0,22.0,12.600000,10.300000,6.60,1.20,2.300000,0.700000,1744.600000,31.400000,3.10,1.20,44.600000,51.80,1
19,20,Penguins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
20,21,Rebels Gaming,20.0,26.0,16.0,10.0,13.300000,14.200000,6.40,1.00,2.200000,0.800000,1797.600000,31.700000,2.90,1.50,26.900000,42.30,1
21,22,S2V Esports,108.0,111.0,41.0,70.0,11.600000,14.000000,5.20,0.60,2.000000,0.600000,1726.800000,31.800000,3.30,1.40,40.500000,46.80,1
22,23,Splyce Vipers,21.0,30.0,17.0,13.0,14.400000,11.300000,6.40,1.20,1.900000,0.800000,1797.500000,31.600000,3.10,1.30,36.700000,43.30,1
23,24,Team Queso,92.0,100.0,39.0,61.0,11.600000,13.400000,5.70,0.90,2.400000,0.600000,1716.400000,31.200000,3.20,1.40,48.000000,43.00,1
24,25,UCAM,57.0,68.0,33.0,35.0,12.566667,13.633333,5.80,0.90,2.333333,0.733333,1747.366667,31.466667,3.20,1.40,48.766667,47.80,1
25,26,x6tence,54.0,54.0,19.0,35.0,10.100000,13.800000,5.10,0.70,2.100000,0.500000,1692.300000,31.000000,3.10,1.20,46.300000,51.90,1
26,27,G2 Vodafone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [226]:
games_players['Playoffs'] = False
for i in range(len(games_players['Tournament'])):
    if 'Playoffs' in games_players['Tournament'][i]:
        games_players['Playoffs'][i] = True
    
games_players['Tournament'] = games_players['Tournament'].str.extract(r'(2.*?(?:Spring|Summer))')

In [232]:
nueva_fila = pd.DataFrame({'split_id': [17], 'year': [2023], 'split': ['Summer']})
split = pd.concat([split, nueva_fila], ignore_index=True)

In [238]:
for i in range(len(split['sum'])):
    split['sum'][i] = str(split['year'][i]) + ' ' + split['split'][i]

In [293]:
split.head(20)

    split_id  year   split          sum
0          1  2023  Spring  2023 Spring
1          2  2022  Summer  2022 Summer
2          3  2022  Spring  2022 Spring
3          4  2021  Summer  2021 Summer
4          5  2021  Spring  2021 Spring
5          6  2020  Summer  2020 Summer
6          7  2020  Spring  2020 Spring
7          8  2019  Summer  2019 Summer
8          9  2019  Spring  2019 Spring
9         10  2018  Summer  2018 Summer
10        11  2018  Spring  2018 Spring
11        12  2017  Summer  2017 Summer
12        13  2016  Summer  2016 Summer
13        14  2016  Spring  2016 Spring
14        15  2015  Summer  2015 Summer
15        16  2015  Spring  2015 Spring
16        17  2023  Summer  2023 Summer

In [240]:
dict_split = split['sum'].to_dict()

In [285]:
print(dict_team)

{0: 'Asus ROG Army', 1: 'BCN Squad', 2: 'BISONS ECLUB', 3: 'Barça eSports', 4: 'Case Esports', 5: 'Cream Real Betis', 6: 'Dragons E.C', 7: 'E-monkeyz Club', 8: 'Fnatic TQ', 9: 'G2 Arctic', 10: 'G2 Heretics', 11: 'Giants', 12: 'Guasones', 13: 'Heretics Academy', 14: 'KIYF', 15: 'KOI Academy', 16: 'Mad Lions Academy', 17: 'Movistar Riders', 18: 'Origen BCN', 19: 'Penguins', 20: 'Rebels Gaming', 21: 'S2V Esports', 22: 'Splyce Vipers', 23: 'Team Queso', 24: 'UCAM', 25: 'x6tence', 26: 'G2 Vodafone'}

In [241]:
for clave, valor in dict_split.items():
    games_players['Tournament'] = games_players['Tournament'].replace(valor,clave)

In [396]:
games_players.tail()

,Name,Champion,Kills,Deaths,Assists,Gold,CS,DamageToChampions,Team,TeamVs,Tournament,Playoffs,Pentakill,KDA
12645,Xyraz,Urgot,3,2,3,NaN,365,NaN,18,17,11,True,0,3.0
12646,Yoppa,Cho'Gath,0,4,5,NaN,258,NaN,12,18,11,True,0,1.25
12647,Yoppa,Ornn,1,2,4,NaN,209,NaN,12,18,11,True,0,2.5
12648,Yoppa,Ornn,1,2,7,NaN,212,NaN,12,18,11,True,0,4.0
12649,Yoppa,Ornn,4,3,10,NaN,272,NaN,12,18,11,True,0,4.666667

In [289]:
#games_players['Team'] = games_players['Team'] +1 
games_players['TeamVs'] = games_players['TeamVs'] +1 
games_players['Tournament'] = games_players['Tournament'] +1

In [393]:
games_players['Pentakill'] = 0
games_players['Pentakill'][11616] = 1
games_players['Pentakill'][8309] = 1
games_players['Pentakill'][2021] = 1
games_players['Pentakill'][4627] = 1
games_players['Pentakill'][8163] = 1
games_players['Pentakill'][10714] = 1
games_players['Pentakill'][10317] = 1
games_players['Pentakill'][2571] = 1
games_players['Pentakill'][11532] = 1
games_players['Pentakill'][4375] = 1
games_players['Pentakill'][11072] = 1
games_players['Pentakill'][10828] = 1
games_players['Pentakill'][8781] = 1
games_players['Pentakill'][955] = 1
games_players['Pentakill'][3154] = 1
games_players['Pentakill'][3122] = 1
games_players['Pentakill'][12427] = 1
games_players['Pentakill'][2114] = 1

In [371]:
# pd.set_option('display.max_rows',None)
# games_players[games_players['Name'] == 'Deadly']

In [395]:
games_players['KDA'] = 0
for i in range(len(games_players['KDA'])):
    if games_players['Deaths'][i] != 0:
        games_players['KDA'][i] = (games_players['Kills'][i] + games_players['Assists'][i])/ games_players['Deaths'][i]
    else:
        games_players['KDA'][i] = 'Perfect KDA'

In [339]:
hist_champs = games_players.groupby(['Name','Champion','Tournament']).mean()

In [340]:
hist_champs = hist_champs.reset_index()

In [341]:
hist_champs = hist_champs.drop(['Team','TeamVs','Playoffs'],axis=1)

In [343]:
hist_champs['KDA'] = 0
for i in range(len(hist_champs['KDA'])):
    if hist_champs['Deaths'][i] != 0:
        hist_champs['KDA'][i] = (hist_champs['Kills'][i] + hist_champs['Assists'][i])/ hist_champs['Deaths'][i]
    else:
       hist_champs['KDA'][i] = 'Perfect KDA'

In [363]:
hist_champs.head()

,Name,Champion,Tournament,Kills,Deaths,Assists,Gold,CS,DamageToChampions,Pentakill,KDA
0,113,Diana,4,5.000000,2.000000,8.333333,12545.333333,203.000000,15869.000000,0.0,6.666667
1,113,Gwen,4,2.000000,5.000000,0.000000,10217.000000,188.000000,13333.000000,0.0,0.4
2,113,Lee Sin,4,3.833333,3.333333,8.333333,10832.333333,165.500000,13557.833333,0.0,3.65
3,113,Morgana,4,1.000000,6.000000,2.000000,8900.000000,182.000000,10156.000000,0.0,0.5
4,113,Nidalee,4,4.333333,2.333333,7.333333,12405.666667,205.666667,19134.000000,0.0,5.0

In [347]:
#hist_champs[hist_champs['KDA'] == 'Perfect KDA']

In [348]:
champs = hist_champs.groupby(['Name','Champion']).mean()

In [349]:
champs = champs.reset_index()

In [350]:
champs = champs.drop(['Tournament'],axis=1)

In [351]:
champs['KDA'] = 0
for i in range(len(champs['KDA'])):
    if champs['Deaths'][i] != 0:
        champs['KDA'][i] = (champs['Kills'][i] + champs['Assists'][i])/ champs['Deaths'][i]
    else:
       champs['KDA'][i] = 'Perfect KDA'

In [352]:
champs.head()

,Name,Champion,Kills,Deaths,Assists,Gold,CS,DamageToChampions,Pentakill,KDA
0,113,Diana,5.000000,2.000000,8.333333,12545.333333,203.000000,15869.000000,0.0,6.666667
1,113,Gwen,2.000000,5.000000,0.000000,10217.000000,188.000000,13333.000000,0.0,0.4
2,113,Lee Sin,3.833333,3.333333,8.333333,10832.333333,165.500000,13557.833333,0.0,3.65
3,113,Morgana,1.000000,6.000000,2.000000,8900.000000,182.000000,10156.000000,0.0,0.5
4,113,Nidalee,4.333333,2.333333,7.333333,12405.666667,205.666667,19134.000000,0.0,5.0

In [353]:
champs_per_season = hist_champs.groupby(['Champion','Tournament']).mean()

In [354]:
champs_per_season = champs_per_season.reset_index()

In [356]:
champs_per_season['KDA'] = 0
for i in range(len(champs_per_season['KDA'])):
    if champs_per_season['Deaths'][i] != 0:
        champs_per_season['KDA'][i] = (champs_per_season['Kills'][i] + champs_per_season['Assists'][i])/ champs_per_season['Deaths'][i]
    else:
       champs_per_season['KDA'][i] = 'Perfect KDA'

In [357]:
champs_per_season.head()

,Champion,Tournament,Kills,Deaths,Assists,Gold,CS,DamageToChampions,Pentakill,KDA
0,Aatrox,1,5.000000,4.00,9.000000,14082.000000,260.000000,17322.000000,0.0,3.5
1,Aatrox,3,2.666667,2.00,4.666667,12581.333333,262.333333,14358.000000,0.0,3.666667
2,Aatrox,4,2.066667,4.40,4.400000,9947.000000,197.066667,11648.866667,0.0,1.469697
3,Aatrox,5,3.640000,2.94,5.010000,12117.600000,239.220000,15456.850000,0.0,2.942177
4,Aatrox,6,1.400000,2.40,2.266667,11043.666667,236.800000,12741.000000,0.0,1.527778

In [358]:
champs_global = champs_per_season.groupby(['Champion']).mean()

In [359]:
champs_global = champs_global.reset_index()

In [361]:
champs_global['KDA'] = 0
for i in range(len(champs_global['KDA'])):
    if champs_global['Deaths'][i] != 0:
        champs_global['KDA'][i] = (champs_global['Kills'][i] + champs_global['Assists'][i])/ champs_global['Deaths'][i]
    else:
       champs_global['KDA'][i] = 'Perfect KDA'

In [362]:
champs_global.head()

,Champion,Tournament,Kills,Deaths,Assists,Gold,CS,DamageToChampions,Pentakill,KDA
0,Aatrox,5.888889,2.741756,2.737709,4.496156,12431.252092,258.480626,14305.343333,0.0,2.643784
1,Ahri,7.444444,3.305232,3.194797,4.194915,12141.189065,267.885964,15445.299669,0.0,2.347613
2,Akali,5.500000,4.820161,2.660866,3.519881,12411.233516,252.738242,15267.042833,0.0,3.134334
3,Akshan,3.000000,3.000000,2.000000,5.666667,14661.666667,302.333333,13225.666667,0.0,4.333333
4,Alistar,6.000000,0.485648,4.026850,8.243749,7904.779273,42.266562,4784.513790,0.0,2.167798

In [370]:
hist_players[hist_players['players_id'] == 245]

,hist_id,Country,Games,Win rate,KDA,Avg kills,Avg deaths,Avg assists,CS-Min,Gold-Min,...,Gold Difference Min-15,CS Difference Min-15,XP Difference Min-15,First Blood Participation %,First Blood Victim %,Penta Kills,Solo Kills,split_id,team_id,players_id
77,78,Portugal,18,44.4,3.8,2.9,2.1,5.1,9.7,432.0,...,22.0,-1.0,-33.0,44.4,5.6,0.0,NaN,1,12,245
1654,1655,Portugal,43,65.1,6.0,5.1,1.8,5.9,9.8,481.0,...,388.0,9.0,164.0,27.9,0.0,1.0,4.0,2,NaN,245
3296,3297,Portugal,18,44.4,5.0,4.2,1.7,4.1,9.7,451.0,...,-37.0,-6.0,-157.0,22.2,0.0,1.0,7.0,3,12,245
4879,4880,Portugal,41,53.7,5.3,4.4,1.7,4.8,10.0,459.0,...,305.0,6.0,251.0,31.7,2.4,0.0,3.0,4,12,245
6610,6611,Portugal,26,53.8,4.7,5.4,2.0,4.0,9.7,463.0,...,710.0,10.0,294.0,34.6,0.0,0.0,1.0,5,12,245
8176,8177,Portugal,44,68.2,6.7,4.3,1.4,5.3,9.8,465.0,...,378.0,5.0,95.0,25.0,6.8,1.0,6.0,6,12,245
9489,9490,Portugal,33,75.8,9.5,5.1,1.2,6.1,8.8,454.0,...,706.0,14.0,343.0,12.1,3.0,1.0,4.0,7,12,245
10792,10793,Portugal,23,39.1,3.0,3.0,2.6,4.7,9.6,430.0,...,-204.0,6.0,-179.0,26.1,17.4,0.0,1.0,8,NaN,245
11991,11992,Portugal,21,47.6,3.4,2.4,1.9,4.0,9.9,438.0,...,-289.0,-6.0,-209.0,14.3,9.5,0.0,NaN,9,NaN,245
13187,13188,Portugal,34,61.8,5.0,3.9,1.8,5.1,9.7,444.0,...,152.0,4.0,-3.0,14.7,2.9,0.0,NaN,10,NaN,245
14235,14236,Portugal,32,50.0,4.3,3.2,1.5,3.1,10.9,448.0,...,197.0,6.0,-127.0,18.8,6.3,0.0,1.0,11,NaN,245
15132,15133,Portugal,22,77.3,10.1,4.0,0.8,3.8,10.5,468.0,...,545.0,9.0,125.0,13.6,4.5,0.0,NaN,12,NaN,245

In [532]:
spring_2023 = pd.read_clipboard()

In [533]:
spring_2023['Team1_Player1'] = 0
spring_2023['Team1_Player2'] = 0
spring_2023['Team1_Player3'] = 0
spring_2023['Team1_Player4'] = 0
spring_2023['Team1_Player5'] = 0
spring_2023['Team2_Player1'] = 0
spring_2023['Team2_Player2'] = 0
spring_2023['Team2_Player3'] = 0
spring_2023['Team2_Player4'] = 0
spring_2023['Team2_Player5'] = 0
for i in range(len(spring_2023['Team1Players'])):
    spring_2023['Team1_Player1'][i] = spring_2023['Team1Players'][i].split('•')[0]
    spring_2023['Team1_Player2'][i] = spring_2023['Team1Players'][i].split('•')[1]
    spring_2023['Team1_Player3'][i] = spring_2023['Team1Players'][i].split('•')[2]
    spring_2023['Team1_Player4'][i] = spring_2023['Team1Players'][i].split('•')[3]
    spring_2023['Team1_Player5'][i] = spring_2023['Team1Players'][i].split('•')[4]
    spring_2023['Team2_Player1'][i] = spring_2023['Team2Players'][i].split('•')[0]
    spring_2023['Team2_Player2'][i] = spring_2023['Team2Players'][i].split('•')[1]
    spring_2023['Team2_Player3'][i] = spring_2023['Team2Players'][i].split('•')[2]
    spring_2023['Team2_Player4'][i] = spring_2023['Team2Players'][i].split('•')[3]
    spring_2023['Team2_Player5'][i] = spring_2023['Team2Players'][i].split('•')[4]

In [534]:
spring_2023 = spring_2023.drop(['Team1Players','Team2Players'],axis=1)

In [535]:
temp = games_teams
games_teams = pd.concat([temp,spring_2023])
games_teams = games_teams.drop_duplicates()

In [536]:
games_teams = games_teams.reset_index(drop=True)

In [547]:
games_teams.tail()

,Tournament,Team1,Team2,WinTeam,LossTeam,Gamelength,Team1Bans,Team2Bans,Team1Dragons,Team2Dragons,...,Team1_Player2,Team1_Player3,Team1_Player4,Team1_Player5,Team2_Player1,Team2_Player2,Team2_Player3,Team2_Player4,Team2_Player5,Playoffs
1244,10,16,17,16,17,39:37,Ryze • Sion • Swain • Morgana • Taric,Camille • Ezreal • Kha'Zix • Zac • Nocturne,1,2,...,Selfmade,Nemesis,Crownshot,Falco (Jesús Pérez),Xyraz,Cinkrof,MagiFelix,Jeskla,Klaj,True
1245,10,16,17,16,17,29:50,Ryze • Sion • Caitlyn • Azir • Gnar,Camille • Kha'Zix • Vladimir • Zac • Skarner,1,2,...,Selfmade,Nemesis,Crownshot,Falco (Jesús Pérez),Xyraz,Cinkrof,MagiFelix,Sánchez,Klaj,True
1246,10,16,17,16,17,33:33,Ryze • Caitlyn • Camille • Sejuani • Zac,Ezreal • Galio • Sion • Olaf • Azir,2,2,...,Selfmade,Nemesis,Crownshot,Falco (Jesús Pérez),Flaxxish,bluerzor,Hatrixx,Sánchez,Treatz,True
1247,10,17,11,11,17,41:12,Camille • Ezreal • Xayah • Corki • Thresh,Nidalee • Galio • Sion • Morgana • Taric,3,1,...,Cinkrof,MagiFelix,Jeskla,Klaj,Yoppa,Th3Antonio,Kashtelan,Deádly,Mystiques,True
1248,10,17,11,17,11,32:49,Camille • Ezreal • Xayah • Ryze • Ornn,Galio • Sion • Cassiopeia • Orianna • Gnar,2,1,...,Cinkrof,MagiFelix,Jeskla,Klaj,Yoppa,Th3Antonio,Kashtelan,Deádly,Mystiques,True

In [538]:
games_teams['Playoffs'] = False
for i in range(len(games_teams['Tournament'])):
    if 'Playoffs' in games_teams['Tournament'][i]:
        games_teams['Playoffs'][i] = True
    
games_teams['Tournament'] = games_teams['Tournament'].str.extract(r'(2.*?(?:Spring|Summer))')

In [540]:
for i in range(len(games_teams['Team1'])):
    try:
        if 'Lions' in games_teams['Team1'][i]:
            games_teams['Team1'][i] = 'Mad Lions Academy'
        elif 'KOI' in games_teams['Team1'][i]:
            games_teams['Team1'][i] = 'KOI Academy'
        elif 'Giants' in games_teams['Team1'][i]:
            games_teams['Team1'][i] = 'Giants'
        elif 'Heretics' in games_teams['Team1'][i] and games_teams['Team1'][i] != 'G2 Heretics':
            games_teams['Team1'][i] = 'Heretics Academy'
        elif 'Monkeyz' in games_teams['Team1'][i]:
            games_teams['Team1'][i] = 'E-monkeyz Club'
        elif 'UCAM' in games_teams['Team1'][i]:
            games_teams['Team1'][i] = 'UCAM'
        elif 'KIYF eSports Club' in games_teams['Team1'][i]:
            games_teams['Team1'][i] = 'KIYF'
        elif 'ASUS ROG Army' in games_teams['Team1'][i]:
            games_teams['Team1'][i] = 'Asus ROG Army'
        elif 'Cream Real Betis.EU' in games_teams['Team1'][i]:
            games_teams['Team1'][i] = 'Cream Real Betis'
        elif 'Dragons E.C.' in games_teams['Team1'][i]:
            games_teams['Team1'][i] = 'Dragons E.C'
    except:
        continue

In [541]:
for i in range(len(games_teams['Team2'])):
    try:
        if 'Lions' in games_teams['Team2'][i]:
            games_teams['Team2'][i] = 'Mad Lions Academy'
        elif 'KOI' in games_teams['Team2'][i]:
            games_teams['Team2'][i] = 'KOI Academy'
        elif 'Giants' in games_teams['Team2'][i]:
            games_teams['Team2'][i] = 'Giants'
        elif 'Heretics' in games_teams['Team2'][i] and games_teams['Team2'][i] != 'G2 Heretics':
            games_teams['Team2'][i] = 'Heretics Academy'
        elif 'Monkeyz' in games_teams['Team2'][i]:
            games_teams['Team2'][i] = 'E-monkeyz Club'
        elif 'UCAM' in games_teams['Team2'][i]:
            games_teams['Team2'][i] = 'UCAM'
        elif 'KIYF eSports Club' in games_teams['Team2'][i]:
            games_teams['Team2'][i] = 'KIYF'
        elif 'ASUS ROG Army' in games_teams['Team2'][i]:
            games_teams['Team2'][i] = 'Asus ROG Army'
        elif 'Cream Real Betis.EU' in games_teams['Team2'][i]:
            games_teams['Team2'][i] = 'Cream Real Betis'
        elif 'Dragons E.C.' in games_teams['Team2'][i]:
            games_teams['Team2'][i] = 'Dragons E.C'
    except:
        continue

In [543]:
for i in range(len(games_teams['WinTeam'])):
    try:
        if 'Lions' in games_teams['WinTeam'][i]:
            games_teams['WinTeam'][i] = 'Mad Lions Academy'
        elif 'KOI' in games_teams['WinTeam'][i]:
            games_teams['WinTeam'][i] = 'KOI Academy'
        elif 'Giants' in games_teams['WinTeam'][i]:
            games_teams['WinTeam'][i] = 'Giants'
        elif 'Heretics' in games_teams['WinTeam'][i] and games_teams['WinTeam'][i] != 'G2 Heretics':
            games_teams['WinTeam'][i] = 'Heretics Academy'
        elif 'Monkeyz' in games_teams['WinTeam'][i]:
            games_teams['WinTeam'][i] = 'E-monkeyz Club'
        elif 'UCAM' in games_teams['WinTeam'][i]:
            games_teams['WinTeam'][i] = 'UCAM'
        elif 'KIYF eSports Club' in games_teams['WinTeam'][i]:
            games_teams['WinTeam'][i] = 'KIYF'
        elif 'ASUS ROG Army' in games_teams['WinTeam'][i]:
            games_teams['WinTeam'][i] = 'Asus ROG Army'
        elif 'Cream Real Betis.EU' in games_teams['WinTeam'][i]:
            games_teams['WinTeam'][i] = 'Cream Real Betis'
        elif 'Dragons E.C.' in games_teams['WinTeam'][i]:
            games_teams['WinTeam'][i] = 'Dragons E.C'
    except:
        continue

In [544]:
for i in range(len(games_teams['LossTeam'])):
    try:
        if 'Lions' in games_teams['LossTeam'][i]:
            games_teams['LossTeam'][i] = 'Mad Lions Academy'
        elif 'KOI' in games_teams['LossTeam'][i]:
            games_teams['LossTeam'][i] = 'KOI Academy'
        elif 'Giants' in games_teams['LossTeam'][i]:
            games_teams['LossTeam'][i] = 'Giants'
        elif 'Heretics' in games_teams['LossTeam'][i] and games_teams['LossTeam'][i] != 'G2 Heretics':
            games_teams['LossTeam'][i] = 'Heretics Academy'
        elif 'Monkeyz' in games_teams['LossTeam'][i]:
            games_teams['LossTeam'][i] = 'E-monkeyz Club'
        elif 'UCAM' in games_teams['LossTeam'][i]:
            games_teams['LossTeam'][i] = 'UCAM'
        elif 'KIYF eSports Club' in games_teams['LossTeam'][i]:
            games_teams['LossTeam'][i] = 'KIYF'
        elif 'ASUS ROG Army' in games_teams['LossTeam'][i]:
            games_teams['LossTeam'][i] = 'Asus ROG Army'
        elif 'Cream Real Betis.EU' in games_teams['LossTeam'][i]:
            games_teams['LossTeam'][i] = 'Cream Real Betis'
        elif 'Dragons E.C.' in games_teams['LossTeam'][i]:
            games_teams['LossTeam'][i] = 'Dragons E.C'
    except:
        continue

In [545]:
for clave, valor in dict_split.items():
    games_teams['Tournament'] = games_teams['Tournament'].replace(valor,clave)

In [546]:
for clave, valor in dict_team.items():
    games_teams['Team1'] = games_teams['Team1'].replace(valor,clave)
    games_teams['Team2'] = games_teams['Team2'].replace(valor,clave)
    games_teams['WinTeam'] = games_teams['WinTeam'].replace(valor,clave)
    games_teams['LossTeam'] = games_teams['LossTeam'].replace(valor,clave)

In [550]:
hist_players[hist_players['team_id'] is np.nan]

KeyError: False